[Unit]
Description=My Node.js App
After=network.target

[Service]
User=diegoex
WorkingDirectory=/home/diegoex/apps/myapp/app
ExecStart=/usr/bin/node /home/diegoex/apps/myapp/app/index.js
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target