name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout del codigo
        uses: actions/checkout@v4

      - name: Configurar SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Install Ansible
        run: |
          sudo apt update
          # Instalamos ansible directamente con apt
          sudo apt install -y ansible sshpass

      - name: Ejecutar Playbook
        run: |
          cd ansible
          ansible-playbook playbooks/deploy.yml -i inventories/production.yml --ssh-common-args='-o StrictHostKeyChecking=no'